.myCol{color: black!important;width: 14.666667%!important;font-size: 20px!important;}
.statik{color: black!important;font-size: 45px!important;margin-left: 0px!important;}
.loader-div img{
   width: 40px;
}