/*color*/
$col_S002:#eea507;
$col_S003:#eea507;
$col_S009:#ffe3b6;
$color: green;
$col_S001:#83bcb8;
$col_S004:#ed5937;
$col_S005:#bc83b1;
$col_S006:#8383bc;
$col_S007:#ddd4c9;
$col_S008:#d2f4f2;
$col_S010:#f4adab;
$col_S011:#edc5e5;
$col_S012:#d2def4;
$col_S013:#f4f1ed;
$col_S014:#808080;
$col_S015:#666666;
$col_S016:#1a1a1a;
$col_S017:#e6e6e6;
$col_S018:#ffffff;
$col_S019:#f9f8f6;
$col_S020:#6189a3;
$col_S021:#212c44;
$col_S022:#e8e7e6;
$col_S023:#f2efeb;
$col_S024:#e5e4e2;
$col_S025:#f4d9ae;
$col_S026:#9e9e9d;
$col_S027:#00ab75;
$col_S028:#fb9d22;
$col_S029:#ff0000;
$col_S030:#44c19a;
$col_S031:#037cf7;
