$icon_Dr_setting:url("../../images/directeur/Dr_setting.png");
$icon_Dr_profil:url("../../images/directeur/Dr_profil.png");
$icon_message:url("../../images/directeur/messagerie.png");
$icon_notif:url("../../images/directeur/picto_notification.png");
$icon_info:url("../../images/directeur/picto_informations.png");
$icon_menu:url("../../images/directeur/menu.png");
$icon_supp:url("../../images/directeur/picto_supprimerD.png");
$icon_modif:url("../../images/directeur/picto_modifierD.png");
$icon_fleche:url("../../images/directeur/Dr_fleche.png");
$icon_Dr_cl_jour:url("../../images/directeur/Dr_cl_jour.png");
$icon_Dr_cl_semaine:url("../../images/directeur/Dr_cl_semaine.png");
$icon_Dr_cl_mois:url("../../images/directeur/Dr_cl_mois.png");
$icon_Dr_file:url("../../images/directeur/Dr_icon_fiche.png");
$icon_Dr_DB:url("../../images/directeur/picto_supprimerB.png");
$icon_Dr_MB:url("../../images/directeur/picto_modifierB.png");
$icon_Dr_G:url("../../images/directeur/Dr_icon_G.png");
$icon_Dr_G01:url("../../images/directeur/Dr_icon_G01.png");
$icon_Dr_L:url("../../images/directeur/Dr_icon_L.png");
$icon_Dr_L01:url("../../images/directeur/Dr_icon_L01.png");
$icon_Dr_Poly:url("../../images/directeur/Polygone.png");
$icon_Dr_Print:url("../../images/directeur/printer.png");
$icon_Dr_Valide:url("../../images/directeur/icon_valide.png");
$icon_Dr_CAL:url("../../images/directeur/Dr_icon_CAL.png");
$icon_Dr_play:url("../../images/directeur/Dr_diaporama.png");
$icon_Dr_download:url("../../images/directeur/Dr_download.png");
$icon_Dr_close:url("../../images/directeur/Dr_close.png");
$icon_Dr_Rech:url("../../images/directeur/Dr_recherche.png");
$icon_Dr_Plus:url("../../images/directeur/Dr_plus.png");
$icon_Dr_BG:url("../../images/directeur/iconBG.png");
$icon_Dr_FR:url("../../images/directeur/fleche_retour.png");
$icon_Dr_FS:url("../../images/directeur/fleche_suivant.png");
$icon_Dr_psw:url("../../images/directeur/Dr_password.png");
$icon_Dr_fermer:url("../../images/directeur/Drpicto_fermer.png");
$icon_Dr_alfa:url("../../images/directeur/Dr_iconA.png");
$icon_Dr_audio:url("../../images/directeur/Dr_icon_micro.png");
$icon_Dr_video:url("../../images/directeur/Dr_icon_video.png");
$icon_Dr_doc:url("../../images/directeur/Dr_icon_doc.png");
$icon_Dr_enquete:url("../../images/directeur/Dr_icon_min.png");
$icon_Dr_quiz:url("../../images/directeur/Dr_icon_into.png");
$icon_Dr_test:url("../../images/directeur/Dr_icon_pent.png");
