<div class="col-md-9 col-md-offset-3 AdTop"  >
  <br>

  <div class="col-md-12">

    <div class="col-md-6"></div>
    <div class="col-md-6" style="float: right;"><p  class="Dconnexion">Derniére Connexion  : {{dateDeconx}} </p></div>
  </div>

  <div class="col-md-12 ">
    <div class="col-xs-8 col-md-4">
      <button type="submit" class="btnAdd01 Ad_plus" data-toggle="modal" data-target="#modalAdd" (click)="vider_form(g)">Ajouter un groupe</button>

    </div>
    <div class="col-md-5"></div>
    <div class="col-xs-12 col-md-3">

      <input type="text" name="" class="form-control" placeholder="recherche par nom" style="float:right;height: 38px;width: 250px;border: 1px solid #ccc!important;margin-top: 22px " [(ngModel)]="term">
      <img src="../../../assets/images/admin/fermer.png" alt="" class="img_fermer" (click)="Effacer_Recherche()">
      <img src="../../../assets/images/admin/picto_recherche.png" alt="" class="img_recherche">
    </div>
  </div>

  <br>


  <div class="col-md-12" >
    <div class="col-md-12"><label class="alert_V">{{successAdd}}</label></div>
  </div>

  <table   class="table  " [mfData]="data| filterGroupe:term" #mf="mfDataTable" [mfRowsOnPage]="5">
    <tbody class="top_10">
    <tr *ngFor="let g of mf.data ">
      <td class="col-md-1">
        <div class="img_liste Ad_img" [style.background]="g.logoPageConx!=''?('url(/'+ g.logoPageConx+')'):('url(../../../assets/images/admin/iconeGroupe.png)')  ">
        </div>
      </td>
      <td class="col-md-2 " ><label style="margin-top: 10px" class="text_label text-center"> {{g.nomG}} </label></td>
      <td class="col-md-2" ><label style="margin-top: 10px" class="text_label text-center"> {{g.domaine}}  </label></td>
      <td class="col-md-2">
        <div><label style="margin-top: 10px" class="text_label text-center"></label></div>

      </td>
      <td class="col-md-2" >
        <div ><label style="margin-top: 10px" class="text_label  text-center"></label></div>
      </td>
      <td class="col-md-3">
        <label style="margin-left: 50px ;margin-top: 10px"> </label>
      </td>
      <td class="col-md-1">
        <div class="icon_L_ajouter">
          <input type="submit" value="" class="btn_up"  data-toggle="modal" data-target="#modalMod" (click)="modalEdit(g.id,g.nomBase,g.nomG,g.domaine,g.couleurBarreTache, g.logoBarreTache,g.couleurExterne,g.logoPageConx,g.imagePageConx,g.defaultPersonalisation)">
          <input type="submit" value="" class="btn_sup" data-toggle="modal" data-target="#modalDel" (click)="modalSupp(g)">
        </div>
      </td>
    </tr>
    <tr *ngIf="data.length==0">
      <td colspan="6" class="text-center nothingToshow">
        Aucune résultat à afficher
      </td>
    </tr>
    </tbody>
    <tfoot class="footer-table">
    <tr *ngIf="data.length>5">
      <td colspan="6">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
  <div *ngIf="data.length!=0" class="col-md-12" style="margin-top: 50px">
    <div class="col-xs-3 col-md-2"></div>
    <div class="col-xs-4 col-md-4"><input type="submit"  name="" class="btn_bas Ad_right" value="Imprimer la liste (PDF)" (click)="generatePDF()"></div>
    <div class="col-xs-4 col-md-4"><input type="submit"  name="" class="btn_bas" value="Exporter EXCEL" (click)="exportation()"></div>
    <div class="col-xs-2 col-md-2" ></div>
  </div>




</div>


<!-- ------------------------------------------------------------------------------------------- -->

<div class="modal fade" id="modalAdd" role="dialog">

  <div class="modal-dialog  modal_T R_modal-dialog"  >

    <div class="modal-content R_tab-content">

      <div class="modal-header">
        <img src="../../../assets/images/admin/close.png" data-dismiss="modal" class="close_modal">
        <h4 class="modal-title titre_ajouter">Ajouter un groupe scolaire</h4>
      </div>

      <div class="modal-body">
        <div class="panel-body">

          <div class="tab-content ">

            <form accept-charset="UTF-8"  #g="ngForm"  name="form"  class="form-horizontal A_form" role="form"  method="post" autocomplete="off">
              <fieldset>

                <div class="col-md-12 top_br">
                  <div class="col-xs-12 col-md-4"><label class="text_form">Nom du groupe scolaire*:  </label> </div>
                  <div class="col-xs-12 col-md-4"><input type="text" name="nomG" class=" input_01" placeholder="Nom du groupe" ngModel></div>
                  <div class="col-xs-12 col-md-4"></div>
                  <span class="alert-danger"  color="red">{{champNomGOblig}}</span>
                </div>



                <div class="col-md-12 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form">Domaine*: </label> </div>
                  <div class="col-xs-12 col-md-4"><div class=" input-group input_01 " style="padding-left: 0px;">
                    <input type="text" class="form-control  Ad_SDinput" placeholder="Subdomain" name="domaine" (keyup)="onKeyDomain($event)" ngModel  >
                    <span class="input-group-addon domain">.my-studeez.fr</span>
                  </div></div>
                  <div class="col-xs-12 col-md-4"></div>

                  <input type="hidden" class="form-control" name="nomBase" [(ngModel)]="base" ngModel>
                  <span class="alert-danger"  color="red">{{erreurDomain}}</span>
                  <span class="alert-danger"  color="red">{{champDomaineOblig}}</span>
                  <span class="alert-danger"  color="red">{{champDomaineExist}}</span>


                </div>



                <div class="col-md-12 top_br">

                  <div class="col-md-12">
                    <div class=" col-md-4"><label class="tab_ajouter" >Personnalisation du groupe </label> </div>


                  </div>

                </div>

                <div class="col-md-12 row_01 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form" >Image page de connexion :  </label> </div>

                  <div class="col-xs-12 col-md-4">

                    <div class="input_01"  data-toggle="tooltip" title="<img src='tmp/{{pathImagePageCx}}'width='200px' />"  attr.data-original-title="<img src='tmp/{{pathImagePageCx}}'width='200px' />"  [ngClass]="disabledbutton">
                      <input type="text"   name="imagePageCnx"  [(ngModel)]="pathImagePageCx" style="margin-top: 0px!important;"  class=" image-preview-filename inputImg AdInT" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                      <span class=" spanUpImg">
                          <div class="btnUploadImg btn-default image-preview-input"  >
                            <img src="../../../assets/images/admin/picto_modifier.png" class="file_image"/>
                              <span class="image-preview-input-title" ></span>

                              <img *ngIf="pathImagePageCx!= ''" src="tmp/{{pathImagePageCx}}" [(ngModel)]="pathImagePageCx"  name="pathImagePageCx" class="file_imgBleu"  ngDefaultControl>
                            <img *ngIf="pathImagePageCx== ''" src="../../../assets/images/admin/imgBlanc.png"  class="file_imgBleu" disabled="file_imgBleu">

                              <input  class="AdFile" type="file"  name="input-file-preview"  (change)="onFileSelected($event)"/> <!-- rename it -->
                          </div>
                     </span>
                    </div>

                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <input type="hidden" name="imagePageConx" [(ngModel)]="pathImagePageCx"  ngModel />
                </div>


                <div class="col-md-12 row_01 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form" >Logo Page de connexion :   </label> </div>

                  <div class="col-xs-12 col-md-4">


                    <div class="input_01"  data-toggle="tooltip1" title="<img src='tmp/{{pathLogoCx}}'width='200px' />"  attr.data-original-title="<img src='tmp/{{pathLogoCx}}'width='200px' />"  [ngClass]="disabledbutton">
                      <input type="text"   name="imageLogoCnx"  [(ngModel)]="pathLogoCx" style="margin-top: 0px!important;"  class=" image-preview-filename inputImg AdInT" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                      <span class=" spanUpImg">
                          <div class="btnUploadImg btn-default image-preview-input"  >
                            <img src="../../../assets/images/admin/picto_modifier.png" class="file_image"/>
                              <span class="image-preview-input-title" ></span>

                              <img *ngIf="pathLogoCx!= ''" src="tmp/{{pathLogoCx}}" [(ngModel)]="pathLogoCx"  name="pathLogoCx" class="file_imgBleu" ngDefaultControl>
                              <img  *ngIf="pathLogoCx == ''" src="../../../assets/images/admin/imgBlanc.png"  class="file_imgBleu" disabled="file_imgBleu">

                              <input  class="AdFile" type="file"  name="input-file-preview"  (change)="onLogoPageConxSelected($event)"/> <!-- rename it -->
                          </div>
                     </span>
                    </div>


                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <input type="hidden" name="logoPageConx" [(ngModel)]="pathLogoCx"  ngModel/>
                </div>




                <div class="col-md-12 row_01 top_br">
                  <div class="col-xs-12 col-md-4"><label class="text_form" >Couleur Externe:  </label> </div>
                  <div class="col-xs-12 col-md-4 color_01">
                    <div  class="input-group colorpicker-component colorpicker-element input_01 " style="margin-top: 0px!important;"  type="form-control"  [ngClass]="disabledbutton">
                      <label class="form-control ">
                        <input type="text" [value]="selectedcolorExtern" class="col-xs-11 col-md-11 Ad_input_color"  disabled>
                        <button type="submit" [style.background]="selectedcolorExtern" [(colorPicker)]="selectedcolorExtern" class="Ad_color" [cpPosition]="'left'" ></button>
                      </label>
                    </div>
                  </div>
                </div>




                <div class="col-md-12 row_01 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form" >Logo barre de tache :   </label> </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="input_01"  data-toggle="tooltip2" title="<img src='tmp/{{pathLogoBtache}}'width='200px' />"  attr.data-original-title="<img src='tmp/{{pathLogoBtache}}'width='200px' />"  [ngClass]="disabledbutton">
                      <input type="text"   name="imgLogoBt"  [(ngModel)]="pathLogoBtache" style="margin-top: 0px!important;"  class=" image-preview-filename inputImg AdInT" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                      <span class=" spanUpImg">
                          <div class="btnUploadImg btn-default image-preview-input"  >
                            <img src="../../../assets/images/admin/picto_modifier.png" class="file_image"/>
                              <span class="image-preview-input-title" ></span>


                                <img *ngIf="pathLogoBtache != ''" src="tmp/{{pathLogoBtache}}" [(ngModel)]="pathLogoBtache"  name="pathLogoBtache" class="file_imgBleu" ngDefaultControl >
                              <img *ngIf="pathLogoBtache == ''" src="../../../assets/images/admin/imgBlanc.png"  class="file_imgBleu" disabled="file_imgBleu">

                              <input  class="AdFile" type="file"  name="input-file-preview"  (change)="onLogoBtacheSelected($event)"/> <!-- rename it -->
                          </div>
                     </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <input type="hidden" name="logoBarreTache" [(ngModel)]="pathLogoBtache"  ngModel/>
                </div>




                <div class="col-md-12 row_01 top_br">
                  <div class="col-xs-12 col-md-4"><label class="text_form" >Couleur barre de tâche:  </label> </div>
                  <div class="col-xs-12 col-md-4 color_01">
                    <div  class="input-group colorpicker-component colorpicker-element input_01 " style="margin-top: 0px!important;"  type="form-control" [ngClass]="disabledbutton" >
                      <label class="form-control ">
                        <input type="text" [value]="selectedcolorBarretache" class="col-xs-11 col-md-11 Ad_input_color"  disabled>
                        <button type="submit" [style.background]="selectedcolorBarretache" [(colorPicker)]="selectedcolorBarretache" class="Ad_color" [cpPosition]="'left'" ></button>
                      </label>

                    </div>
                  </div>
                </div>
                <br>
                <span class="alert-danger"  color="red">{{personnalisationOblig}}</span>


                <div class="col-md-12 row_01 top_br">
                  <div class=" col-md-1"><label class="check_01" style="margin-left: 53px"><input type="checkbox" name="defaultPersonalisation"  (change)="UploadDisable(1)" [checked]="checkboxFlag" ngModel><span class="checkmark R_chekmark"></span></label></div>
                  <div class=" col-md-4"><label style="margin-top: 4.5px" class="R_label">Personnalisation par défaut de STUDEEZ</label></div>
                </div>



                <div class="col-md-12 top_br">

                  <div class="col-xs-12 col-md-4">
                    <label><input type="submit" name="" value="Annuler" class="btn_annuler R_btn_annuler" data-dismiss="modal" ></label>
                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <div class="col-xs-12 col-md-4">
                    <label><input type="submit"  #buttonAdd [disabled]="!g.valid"  (click)="AddGroupe(g,g.value)" value="Enregistrer le groupe scolaire" class="btn_en_fiche" ></label>
                  </div>
                  <button class="btn btn-danger" #hideModelAdd id="delete-node" name="button" data-dismiss="modal" type="submit">Cancelar</button>
                </div>




              </fieldset>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!---------------------------------------model ajout groupe scolaire---------------------------------------------------------------------->




<!---------------------------------------model modif groupe scolaire------------------------------------------------------------------ - -->
<div class="modal fade" id="modalMod" role="dialog">

  <div class="modal-dialog modal_T R_modal-dialog"  >

    <div class="modal-content R_tab-content" >

      <div class="modal-header">
        <img src="../../../assets/images/admin/close.png" data-dismiss="modal" class="close_modal">
        <h4 class="modal-title titre_ajouter">Modifier un groupe scolaire</h4>
      </div>

      <div class="modal-body">
        <div class="panel-body">

          <div class="tab-content ">

            <form accept-charset="UTF-8"  #f="ngForm"  name="form" id="formMod" class="form-horizontal A_form" role="form"  method="post" autocomplete="off">
              <fieldset>

                <div class="col-md-12 top_br">


                  <div class="col-xs-12 col-md-4"><label class="text_form">Nom du groupe scolaire*:  </label> </div>
                  <div class="col-xs-12 col-md-4"><input type="text" name="nomG" class="input_01" placeholder="Nom du groupe" [(ngModel)]="nomG" ngModel ></div>
                  <div class="col-xs-12 col-md-4"></div>
                  <span class="alert-danger"  color="red">{{champNomGOblig}}</span>
                </div>



                <div class="col-md-12 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form">Domaine*: </label> </div>
                  <div class="col-xs-12 col-md-4"><div class="input-group input_01" style="padding-left: 0px;">
                    <input type="text" class="form-control  Ad_SDinput" placeholder="Subdomain" name="domaine" (keyup)="onKeyDomain($event)"  [(ngModel)]="domaine" ngModel >
                    <span class="input-group-addon domain">.my-studeez.fr</span>
                  </div></div>
                  <div class="col-xs-12 col-md-4"></div>


                  <input type="hidden" class="form-control" name="id"  ngModel  [(ngModel)]="id">
                  <input type="hidden" class="form-control" name="nomBase"  ngModel  [(ngModel)]="nomBase">
                  <span class="alert-danger"  color="red">{{erreurDomain}}</span>
                  <span class="alert-danger"  color="red">{{champDomaineOblig}}</span>
                  <span class="alert-danger"  color="red">{{champDomaineExist}}</span>

                </div>



                <div class="col-md-12 top_br">

                  <div class="col-md-12">
                    <div class=" col-md-4"><label class="tab_ajouter" >Personnalisation du groupe </label> </div>


                  </div>

                </div>

                <div class="col-md-12 row_01 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form" >Image page de connexion :  </label> </div>

                  <div class="col-xs-12 col-md-4">


                    <div class="input_01"  data-toggle="tooltipu" title="<img src='{{tmp}}/{{upPathImagePageCx}}'width='200px' />"  attr.data-original-title="<img src='{{tmp}}/{{upPathImagePageCx}}'width='200px' />"  [ngClass]="disabledbutton">
                      <input type="text"   name="upImageCnx" [(ngModel)]="upPathImagePageCx" style="margin-top: 0px!important;"  class=" image-preview-filename inputImg AdInT" disabled="disabled">
                      <span class=" spanUpImg">
                          <div class="btnUploadImg btn-default image-preview-input"  >
                            <img src="../../../assets/images/admin/picto_modifier.png" class="file_image"/>
                              <span class="image-preview-input-title" ></span>

                             <img  *ngIf="upPathImagePageCx != ''"  src="{{tmp}}/{{upPathImagePageCx}}" [(ngModel)]="upPathImagePageCx"  name="upPathImagePageCx" class="file_imgBleu" ngDefaultControl >
                              <img  *ngIf="upPathImagePageCx == ''"  src="../../../assets/images/admin/imgBlanc.png"  class="file_imgBleu" disabled="file_imgBleu">

                              <input  class="AdFile" type="file"  name="input-file-preview"  (change)="upOnFileSelected($event)"/>
                          </div>
                     </span>
                    </div>

                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <input type="hidden" name="imagePageConx" [(ngModel)]="upPathImagePageCx"  ngModel />
                </div>



                <div class="col-md-12 row_01 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form" >Logo Page de connexion :   </label> </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="input_01"  data-toggle="tooltipu" title="<img src='{{tmp1}}/{{upPathLogoCx}}'width='200px' />"  attr.data-original-title="<img src='{{tmp1}}/{{upPathLogoCx}}'width='200px' />"  [ngClass]="disabledbutton">
                      <input type="text"   name="upImgLogoBt"  [(ngModel)]="upPathLogoCx" style="margin-top: 0px!important;"  class=" image-preview-filename inputImg AdInT" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                      <span class=" spanUpImg">
                          <div class="btnUploadImg btn-default image-preview-input"  >
                            <img src="../../../assets/images/admin/picto_modifier.png" class="file_image"/>
                              <span class="image-preview-input-title" ></span>


                             <img  *ngIf="upPathLogoCx != ''"  src="{{tmp1}}/{{upPathLogoCx}}" [(ngModel)]="upPathLogoCx"  name="upPathLogoCx" class="file_imgBleu" ngDefaultControl>
                             <img  *ngIf="upPathLogoCx == ''"  src="../../../assets/images/admin/imgBlanc.png"  class="file_imgBleu" disabled="file_imgBleu">

                              <input  class="AdFile" type="file"  name="input-file-preview"  (change)="upOnLogoPageConxSelected($event)"/>
                          </div>
                     </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <input type="hidden" name="logoPageConx" [(ngModel)]="upPathLogoCx"  ngModel/>
                </div>





                <div class="col-md-12 row_01 top_br">
                  <div class="col-xs-12 col-md-4"><label class="text_form" >Couleur Externe:  </label> </div>
                  <div class="col-xs-12 col-md-4 color_01">
                    <div  class="input-group colorpicker-component colorpicker-element input_01 " style="margin-top: 0px!important;"  type="form-control" [ngClass]="disabledbutton" >
                      <label class="form-control ">
                        <input type="text" [value]="upSelectedcolorExtern" class="col-xs-11 col-md-11 Ad_input_color"  disabled>
                        <button type="submit" [style.background]="upSelectedcolorExtern" [(colorPicker)]="upSelectedcolorExtern" class="Ad_color" [cpPosition]="'left'" ></button>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 row_01 top_br">

                  <div class="col-xs-12 col-md-4"><label class="text_form" >Logo barre de tache :  </label> </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="input_01"  data-toggle="tooltipu" title="<img src='{{tmp2}}/{{upPathLogoBtache}}'width='200px' />"  attr.data-original-title="<img src='{{tmp2}}/{{upPathLogoBtache}}'width='200px' />"  [ngClass]="disabledbutton">
                      <input type="text"   name="imgLogoBt"  [(ngModel)]="upPathLogoBtache" style="margin-top: 0px!important;"  class=" image-preview-filename inputImg AdInT" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                      <span class=" spanUpImg">
                          <div class="btnUploadImg btn-default image-preview-input"  >
                            <img src="../../../assets/images/admin/picto_modifier.png" class="file_image"/>
                              <span class="image-preview-input-title" ></span>


                              <img  *ngIf="upPathLogoBtache != ''"  src="{{tmp2}}/{{upPathLogoBtache}}" [(ngModel)]="upPathLogoBtache"  name="upPathLogoBtache" [ngModelOptions]="{standalone: true}"  class="file_imgBleu"  ngDefaultControl>
                              <img *ngIf="upPathLogoBtache == ''"  src="../../../assets/images/admin/imgBlanc.png"  class="file_imgBleu" disabled="file_imgBleu">

                              <input  class="AdFile" type="file"  name="input-file-preview"  (change)="upOnLogoBtacheSelected($event)"/>
                          </div>
                     </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <input type="hidden" name="logoBarreTache" [(ngModel)]="upPathLogoBtache"  ngModel/>
                </div>




                <div class="col-md-12 row_01 top_br">
                  <div class="col-xs-12 col-md-4"><label class="text_form" >Couleur barre de tâche:  </label> </div>
                  <div class="col-xs-12 col-md-4 color_01">
                    <div  class="input-group colorpicker-component colorpicker-element input_01 " style="margin-top: 0px!important;"  type="form-control" [ngClass]="disabledbutton" >
                      <label class="form-control ">
                        <input type="text" [value]="upSelectedcolorBarretache" class="col-xs-11 col-md-11 Ad_input_color"  disabled>
                        <button type="submit" [style.background]="upSelectedcolorBarretache" [(colorPicker)]="upSelectedcolorBarretache" class="Ad_color" [cpPosition]="'left'" ></button>
                      </label>
                    </div>
                  </div>
                </div>


                <div class="col-md-12 row_01 top_br">
                  <div class=" col-md-1"><label class="check_01" style="margin-left: 53px"><input type="checkbox" name="defaultPersonalisation"  (change)="UploadDisable(0)" [checked]="checkboxFlagm" ngModel><span class="checkmark"></span></label></div>
                  <div class=" col-md-4"><label style="margin-top: 4.5px" class="R_label">Personnalisation par défaut de STUDEEZ</label></div>
                </div>




                <div class="col-md-12 top_br">

                  <div class="col-xs-12 col-md-4">
                    <label><input type="submit" name="" value="Annuler" class="btn_annuler R_btn_annuler" data-dismiss="modal" ></label>
                  </div>
                  <div class="col-xs-12 col-md-4"></div>
                  <div class="col-xs-12 col-md-4">
                    <label><input type="submit" [disabled]="!f.valid"  (click)="editGroupe(f.value)"    value="Enregistrer les modifications" class="btn_en_fiche"></label>

                  </div>

                  <button class="btn btn-danger" #hideModelUpdate id="delete-nodee" name="button" data-dismiss="modal" type="submit">Cancelar</button>
                </div>




              </fieldset>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!---------------------------------------------------------------------------------->





<!---------------------------modal delete --------------------------------------->

<div id="modalDel" class="modal fade" role="dialog">
  <div class="modal-dialog modal_Notif">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">


      </div>
      <div class="modal-body">
        <label class="notif_01"> êtes-vous sûr(e) de vouloir supprimer «{{tmpgroupe.nomG}}»  ? </label>
        <label class="groupeNotif_btn">
          <input type="submit" name="" class="btn_N_01" value="Non" data-dismiss="modal" >
          <input type="submit" name="" class="btn_N_02" value="Oui" (click)="deleteGroupe(tmpgroupe.id,tmpgroupe.nomBase)" data-dismiss="modal">
        </label>
      </div>

    </div>

  </div>
</div>
<!------end delete modal ------------------------------------------------------------------------------------------------>





