  <div class="Dr_titre_sideEmp text-center" >
    Plages horaires
    <i class="fa fa-close fa-fw " style="float: right;cursor: pointer" closeSidebar></i>
  </div>
  <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC01"  >
    Tous les jours
    <label class="Dr_container right"><input type="checkbox" ><span class="Dr_check"></span></label>
    </div>
  </div>

  <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC02">
     Lundi
     <label class="Dr_container right"><input type="checkbox" checked="checked"><span class="Dr_check"></span></label>
    </div>
  </div>

  <div class="col-xs-12 col-md-12 top_br">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-10 col-md-8">
      <div class="col-xs-1 col-md-1">de</div>
       <div class="col-xs-4 col-md-4 ">
       <input type="time" class="form-control Dr_input">
       </div>
       <div class="col-xs-1 col-md-1 Dr_pd_left">à</div>
       <div class="col-xs-4 col-md-4 ">
       <input type="time" class="form-control Dr_input">
       </div>
       <div class="col-xs-1 col-md-1"><button type="submit" class="icon_supp"></button></div>
    </div>
    <div class="col-xs-1 col-md-2">

    </div>
  </div>



  <div class="col-xs-12 col-md-12 top_br">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-10 col-md-8">
      <div class="col-xs-1 col-md-1">de</div>
       <div class="col-xs-4 col-md-4 ">
       <input type="time" class="form-control Dr_input">
       </div>
       <div class="col-xs-1 col-md-1 Dr_pd_left">à</div>
       <div class="col-xs-4 col-md-4 ">
       <input type="time" class="form-control Dr_input">
       </div>
       <div class="col-xs-1 col-md-1"><button type="submit" class="Dr_Iok">OK</button></div>
    </div>
    <div class="col-xs-1 col-md-2">

    </div>

      <div class="col-xs-12 col-md-12 top_br">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-10 col-md-8 text-center">
      <label class="Dr_LB01">+ Ajouter une tranche horaire </label>
    </div>
    <div class="col-xs-1 col-md-2">

    </div>
  </div>

  </div>


  <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC01"  >
    Mardi
    <label class="Dr_container right"><input type="checkbox" ><span class="Dr_check"></span></label>
    </div>
  </div>

    <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC01">
     Mercredi
     <label class="Dr_container right"><input type="checkbox" ><span class="Dr_check"></span></label>
    </div>
  </div>

    <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC01">
     Jeudi
     <label class="Dr_container right"><input type="checkbox" ><span class="Dr_check"></span></label>
    </div>
  </div>

    <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC01">
     Vendredi
     <label class="Dr_container right"><input type="checkbox" ><span class="Dr_check"></span></label>
    </div>
  </div>

    <div class="col-xs-12 col-md-12 top_br ">
    <div class="col-md-12 Dr_padding_B01 Dr_CC01">
     Samedi
     <label class="Dr_container right"><input type="checkbox" ><span class="Dr_check"></span></label>
    </div>
  </div>




  <div class="col-xs-12 col-md-12 top_br">
    <div class="col-xs-4 col-md-4"></div>
    <div class="col-xs-4 col-md-4">
      <button type="submit" class="form-control Dr_btn_02">Annuler</button>
    </div>
    <div class="col-xs-4 col-md-4">
      <button type="submit" class="form-control DrBtn">Enregistrer</button>
    </div>
  </div>
