<div class="col-md-12 Dr_titre_sideMD">
Ajouter une absence <i class="fa fa-close fa-fw " style="float: right;cursor: pointer" closeSidebar></i>
</div>


<div class=" col-md-12 top_br ">
  <div class="col-md-4"></div>

  <div class="col-md-8 "  >
    <div class="Dr_icon_MD" [style.background-image]="('url(../../assets/images/directeur/avatar.png)')  ">
      <input  class="file_input_Dr" type="file" name="input-file-preview"  />
    </div>

  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-5"></div>
  <div class="col-md-4 text-center">Nom Prénom classe</div>

</div>

<div class="col-md-12 top_br">
  <div class="col-md-3"><label class="Dr_LB">Date et heure</label></div>
  <div class="col-md-9">

  </div>
</div>

<div class="col-md-12 top_br">
  <div class="col-md-3"><label class="Dr_add_form">Type</label></div>
  <div class="col-md-9">
    <select class="form-control Dr_input Dr_select">
      <option value="">Sélectionner</option>
      <option value=""> 201321</option>
    </select>
  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-3"><label class="Dr_add_form">Date de début</label></div>
  <div class="col-md-9 ">
    <div class="col-md-6 Dr_pd_left">
      <input type="text" class="form-control Dr_input Dr_select" bsDatepicker>
    </div>

    <div class="col-md-1 ">à</div>

    <div class="col-md-5 Dr_paddinR01">
      <input type="time" class="form-control Dr_input">
    </div>
  </div>
</div>

<div class="col-md-12 top_br">
  <div class="col-md-3"><label class="Dr_add_form">Date de fin</label></div>
  <div class="col-md-9 ">
    <div class="col-md-6 Dr_pd_left">
      <input type="text" class="form-control Dr_input Dr_select" placeholder="" bsDatepicker>
    </div>

    <div class="col-md-1 ">à</div>

    <div class="col-md-5 Dr_paddinR01">
      <input type="time" class="form-control Dr_input">
    </div>
  </div>
</div>

<div class="col-md-12 top_br">
  <div class="col-md-3 "><label class="Dr_add_form">Récurence </label></div>
  <div class="col-md-2">
    <material-slide-toggle>
    </material-slide-toggle>
  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-3"></div>
  <div class="col-md-9 ">
    <div class="btn-group">
      <button type="submit" class="Dr_btnJ">Lundi</button>
      <button type="submit" class="Dr_btnJ">Mardi</button>
      <button type="submit" class="Dr_btnJ">Mercredi</button>
      <button type="submit" class="Dr_btnJ">Jeudi</button>
      <button type="submit" class="Dr_btnJ">Vendredi</button>
      <button type="submit" class="Dr_btnJ">Samedi</button>
    </div>


  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-3"><label class="Dr_LB">Justificatif</label></div>
  <div class="col-md-9">

  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-6 Dr_paddinR01 Dr_pd_left"><label class="Dr_add_form">Conctact téléphonique avec un responsable </label></div>
  <div class="col-md-2 ">
    <material-slide-toggle>
    </material-slide-toggle>

  </div>
</div>




<div class="col-md-12 top_br">
  <div class="col-md-3 Dr_paddinR01 Dr_pd_left"><label class="Dr_add_form">Motif de justification</label></div>
  <div class="col-md-9 ">

    <input type="text" class="col-md-10 form-control Dr_input  " >
  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-3 Dr_paddinR01 Dr_pd_left"><label class="Dr_add_form">Ajouter ue pièce jointe</label></div>
  <div class="col-md-9 ">
    <span class="col-lg-offset-10 col-md-offset-10 col-xs-offset-10 Dr_icon_file"><img src="../../../../../../assets/images/directeur/Dr_icon_fiche.png" alt=""></span>
    <input type="file" class="col-md-10 form-control Dr_input Dr_pd_left Dr_input_size Dr_fileBg" >
  </div>
</div>


<div class="col-md-12 top_br">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button type="submit" class="form-control Dr_btn_02">Annuler</button>
  </div>
  <div class="col-md-4">
    <button type="submit" class="form-control DrBtn">Enregistrer</button>
  </div>
</div>
